<%
  path = assigns[:path] || fn (x,y,z) -> "#" end
  conn = assigns[:conn]
  item = assigns[:item] || %{id: 0}
  extra_actions = assigns[:extra_actions] || []
%>

<%= link [to: path.(conn, :edit, item.id), class: "icon"] do %>
  <i class="fe fe-edit"></i>
<% end %>

<div class="item-action dropdown ml-3">
  <a href="javascript:void(0)" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
  <div class="dropdown-menu dropdown-menu-right">
    <%= link "Show", to: path.(conn, :show, item.id), class: "dropdown-item" %>
    <%= link "Delete", to: path.(conn, :delete, item.id), method: :delete, data: [confirm: "Are you sure?"], class: "dropdown-item" %>

    <%= if length(extra_actions) > 0 do %>
    <div class="dropdown-divider"></div>
    <% end %>

    <%= for i <- extra_actions do %>
    <%
      is_show = cond do
        is_boolean(i[:is_show]) -> i[:is_show]
        is_function(i[:is_show]) -> i[:is_show].(item)
        true -> true
      end

      label_text = cond do
        is_binary(i[:label]) -> i[:label]
        is_function(i[:label]) -> i[:label].(item)
        true -> ""
      end
      action = i[:action] || fn x -> x end
      opts = (i[:opts] || [] ) ++ [to: action.(item), class: "dropdown-item"]
    %>
    <%= if is_show do %>
      <%= link label_text, opts %>
    <% end %>
    <% end %>
  </div>
</div>


