<%
  conn = assigns[:conn]
  paths = Phoenix.Controller.current_path(conn)
  |> String.split("?")
  |> Enum.at(0)
  |> String.split("/")
  l = length(paths)
%>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= for {i, idx} <- Enum.with_index(paths) do %>
    <li class="breadcrumb-item <%= if idx == l - 1, do: "active" %>" <%= if idx == l - 1, do: raw(~s(aria-current="page")) %>>
      <%= if idx == l - 1 do %>
      <%= Phoenix.Naming.humanize(i) %>
      <% else %>
      <%
        href = Enum.take(paths, idx + 1) |> Enum.join("/")

        href = if href == "" do
          "/"
        else
          href
        end
      %>
      <a href="<%= href %>"><%= if idx == 0, do: "Home", else: Phoenix.Naming.humanize(i) %></a>
      <% end %>
    </li>
    <% end %>
  </ol>
</nav>
