<%
  id = assigns[:id] || "carousel-controls"
  items = assigns[:items] || []
  field = assigns[:field] || :url
%>

<div id="<%= id %>" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <%= for {i, idx} <- Enum.with_index(items) do %>
    <div class="carousel-item <%= if idx == 0, do: " active" %>">
      <img class="d-block w-100" alt="" src="<%= MokaWeb.ViewHelper.render_value(i, field) %>" data-holder-rendered="true">
    </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#<%= id %>" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#<%= id %>" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
