<%
  changeset = assigns[:changeset]
  action = assigns[:action]
  fields = assigns[:fields]
  title = assigns[:title] || "Form title"
  submit_text = assigns[:submit_text] || "Save"
%>

<%= form_for changeset, action, [multipart: true, class: "card"], fn f -> %>
  <div class="card-header">
    <div class="page-title">
      <h3 class="card-title"><%= title %></h3>
    </div>
  </div>
  <div class="card-body">
    <%= if changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>
    <div class="row">
    <%= for {field, type, opts} <- fields do %>
    <div class="<%= opts[:class] || "col-md-12" %>">
    <%= MokaWeb.ViewHelper.render_input f, field, opts %>
    </div>
    <% end %>
    </div>
  </div>
  <div class="card-footer text-right">
    <%= submit submit_text, class: "btn btn-primary" %>
  </div>
<% end %>
