<%
  changeset = assigns[:changeset]
  action = assigns[:action]
  model = assigns[:model]
  fields = assigns[:fields]
%>

<%= form_for changeset, action, [multipart: true, class: "card"], fn f -> %>
  <%= if changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="card-body">
    <h3>Product information</h3>

    <%= for {field, type, opts} <- fields do %>
    <%= MokaWeb.ViewHelper.render_input f, field, opts %>
    <% end %>
  </div>
  <div class="card-footer text-right">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
