<%
  conn = assigns[:conn]
  name = assigns[:name] || ""
  label = assigns[:label] || name
  options = assigns[:options] || []
  default_value = assigns[:default_value] || ""
  js_choice = assigns[:js_choice] || false
%>
<div class="form-group">
  <label class="label mr-sm-2"><%= String.capitalize(label) %></label>
  <select name="<%= name %>" class="form-control">
    <option value="" <%= if default_value == "all" or is_nil(default_value) do "selected" end %>>All</option>
    <%= for i <- options do %>
      <%= if is_tuple(i) do %>
      <% {k, v} = i %>
      <option value="<%= v %>" <%= if default_value == to_string(v) do "selected" end %>><%= k %></option>
      <% else %>
      <option value="<%= i %>" <%= if default_value == to_string(i) do "selected" end %>><%= i %></option>
      <% end %>
    <% end %>
  </select>
</div>
