<%
  conn = assigns[:conn]
  fields = assigns[:fields] || []
  entries = assigns[:entries] || []
  path = assigns[:path] || fn (a,b,c) -> "#" end
  extra_actions = assigns[:extra_actions] || []
  checkbox_table = assigns[:checkbox_table]
%>

<%= if checkbox_table do %>
<form method="POST" action data-toggle="checkbox-table">
<input type="hidden" name="_csrf_token" value="<%= get_csrf_token() %>">
<div class="card-header">
  <div class="form-group">
    <label class="form-label mb-2">
      <%= Keyword.get(checkbox_table, :label) %>
    </label>
    <div class="input-group">
    <select data-toggle="checkbox-table-action" class="form-control custom-select">
      <option value="#"></option>
      <%= for {column, opts} <- checkbox_table[:columns] || [] do %>
        <option value="<%= opts[:action] %>"><%= opts[:label] %></option>
      <% end %>
    </select>
    <button class="btn btn-primary" type="submit" data-toggle="checkbox-table-submit">Update</button>
    </div>
  </div>
</div>
<% end %>

<table class="table table-hover table-outline table-vcenter text-nowrap card-table">
  <thead>
    <tr>
      <%= if checkbox_table do %>
      <th class="w-5"></th>
      <% end %>
      <th>#</th>
      <%= for field <- fields do %>
      <th>
        <%= MokaWeb.ViewHelper.render_title(field) %>
      </th>
      <% end %>
      <th class="text-right">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= for {item, idx} <- Enum.with_index(entries) do %>
      <tr>
        <%= if checkbox_table && Map.has_key?(item, :id) do %>
        <td>
          <input type="checkbox" data-toggle="checkbox-table-input" data-name="<%= checkbox_table[:checkbox_name] <> "[]" %>" value="<%= item.id %>">
        </td>
        <% end %>
        <td scope="row">
          <%= if Map.has_key?(item, :id) do %>
          <%= link item.id, to: path.(conn, :show, item.id) %>
          <% else %>
          <%= idx %>
          <% end %>
        </td>
        <%= for field <- fields do %>
        <td>
          <%= MokaWeb.ViewHelper.render_value(item, field) %>
        </td>
        <% end %>
        <td class="text-right">
          <%= render "_actions.html",
                conn: conn,
                item: item,
                path: path,
                extra_actions: extra_actions %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

<%= if checkbox_table do %>
</form>
<% end %>