.filter-toolbar{
  display: flex;

  .form-group{
    width: auto;
    margin-bottom: 0;
    margin-left: 10px;

    &:first-child{
      margin-left: 0;
                       }
    // &.no-label{
    //   padding-top: 30.5px;
    // }
    &.button-group{
      padding-top: 30px;
    }
    
    label{
      display: inline-block;
      margin-right: 5px;
    }

    .form-control, .selectize-input{
      width: auto;
      display: inline-block;
    }

    input[type=text], select, .selectize-input{
      min-width: 200px;
    }
  }
}
