.profile{
  .profile-img{
    width: 7rem;
    border-radius: 50%;
    border: solid 3px $white;
    box-shadow: 0 0 3px $gray-800;
  }
  
  .job-title{
    color: $text-muted-dark;
  }
}

.work-status, .badge-status{
  font-weight: bold;
  padding: 3px 12px;
  border-radius: 18px;
  font-size: 0.8rem;
}

.field-list{
  .field{
    display: flex;
    padding: 5px 10px;

    &-name{
      max-width: 30%;
      min-width: 150px;
      flex-basis: 150px;
      color: $text-muted;
    }

    &-value{
      flex-grow: 1;
      padding-left: 10px;
    }
  }
}
