<div class="container">
  <h2>
    Define in code
  </h2>
  <div id="fields" class="showdown jsShowdown">
```ruby
def fields() do
  [
    {:name, :string, required: true},
    {:age, :integer, required: true},
    {:email, :string, required: true},
    {:accepts_conditions, :boolean, required: true},
    {:gender, :string, required: true, using: :select, options: ["male", "female"]},
    {:birthday, :utc_datetime, required: true, using: :datetimepicker},
    {:avatar, :string, required: false, using: :file_input},
    {:bio, :string, required: false, using: :text_editor}
  ]
end

render MokaWeb.ShareView, "_form.html",
  conn: conn,
  action: path.(conn, :create, []),
  changeset: changeset,
  fields: fields,
  title: form_title
```
  </div>

  <%= render MokaWeb.ShareView, "_form.html",
        conn: @conn,
        action: Routes.doc_path(@conn, :forms, []),
        changeset: Moka.Form.changeset(%Moka.Form{}),
        fields: Moka.Form.fields,
        title: "Form title"
  %>
</div>
