<footer class="footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-auto mt-3 mt-lg-0 text-center">
        Copyright © 2019 <a href=".">Yeah1 Group</a> All rights reserved.
      </div>
    </div>
  </div>
</footer>
