<%
  user = assigns[:current_user] || %{
    full_name: "Admin",
    avatar: %{url: "https://cdn2.iconfinder.com/data/icons/the-world-faces/512/Cool_Guy_Face_Avatar-512.png"}
  }
  routes = assigns[:routes] || Routes
  logo = assigns[:logo] || Routes.static_path(@conn, "/images/logo.png")
%>
<div class="header py-4">
  <div class="container">
    <div class="d-flex">
      <!-- LOGO  -->
      <a class="header-brand" href="<%= routes.page_path(@conn, :index) %>">
        <img src="<%= logo %>" class="header-brand-img" alt="tabler logo">
      </a>
      <!-- NOTIFICATION  -->
      <div class="d-flex order-lg-2 ml-auto">
        <div class="dropdown d-none d-md-flex">
          <a class="nav-link icon" data-toggle="dropdown">
            <i class="fe fe-bell"></i>
            <span class="nav-unread"></span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a href="#" class="dropdown-item d-flex">
              <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/male/41.jpg)"></span>
              <div>
                <strong>Nathan</strong> pushed new commit: Fix page load performance issue.
                <div class="small text-muted">10 minutes ago</div>
              </div>
            </a>
            <a href="#" class="dropdown-item d-flex">
              <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/female/1.jpg)"></span>
              <div>
                <strong>Alice</strong> started new task: Tabler UI design.
                <div class="small text-muted">1 hour ago</div>
              </div>
            </a>
            <a href="#" class="dropdown-item d-flex">
              <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/female/18.jpg)"></span>
              <div>
                <strong>Rose</strong> deployed new version of NodeJS REST Api V3
                <div class="small text-muted">2 hours ago</div>
              </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item text-center">Mark all as read</a>
          </div>
        </div>
        <!-- USER MENU -->
        <div class="dropdown">
          <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" style="background-image: url(<%= user.avatar && user.avatar.url %>)"></span>
            <span class="ml-2 d-none d-lg-block">
              <span class="text-default">
                <%= user.full_name %></span>
            </span>
          </a>
          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-user"></i>
              <%= gettext "Profile" %>
            </a>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-settings"></i>
              <%= gettext "Settings" %>
            </a>
            <a class="dropdown-item" href="#">
              <span class="float-right"><span class="badge badge-primary">6</span></span>
              <i class="dropdown-icon fe fe-mail"></i>
              <%= gettext "Inbox" %>
            </a>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-send"></i>
              <%= gettext "Message" %>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <i class="dropdown-icon fe fe-help-circle"></i>
              <%= gettext "Need help?" %>
            </a>
            <a class="dropdown-item" href="/sign_out">
              <i class="dropdown-icon fe fe-log-out"></i>
              <%= gettext "Sign out" %>
            </a>
          </div>
        </div>
      </div>
      <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
        <span class="header-toggler-icon"></span>
      </a>
    </div>
  </div>
</div>
