<%
  conn = assigns[:conn]
  routes = assigns[:routes] || Routes
  menus = assigns[:menus] || MokaWeb.ViewHelper.get_menus(conn)
%>

<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
  <div class="container">
    <div class="row align-items-center">
      <!-- <div class="col-lg-3 ml-auto">
           <form class="input-icon my-3 my-lg-0">
           <input type="search" class="form-control header-search" placeholder="Search&hellip;" tabindex="1">
           <div class="input-icon-addon">
           <i class="fe fe-search"></i>
           </div>
           </form>
           </div> -->
      <div class="col-lg order-lg-first">
        <ul class="nav nav-tabs border-0 flex-column flex-lg-row justify-content-center">
          <%= for menu <- menus do %>
          <%= if menu.has_child do %>
          <li class="nav-item dropdown">
            <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="<%= menu.icon_class %>"></i><%= menu.name %></a>
            <div class="dropdown-menu dropdown-menu-arrow">
              <%= for i <- menu.childs do %>
              <a href="<%= i.href %>" class="dropdown-item "><%= i.name %></a>
              <% end %>
            </div>
          </li>
          <% else %>
          <li class="nav-item">
            <a href="<%= menu.href %>" class="nav-link"><i class="<%= menu.icon_class %>"></i><%= menu.name %></a>
          </li>
          <% end %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
