<%
  menus = assigns[:menus] || MokaWeb.ViewHelper.get_menus(@conn) ++ [%{
        name: gettext("Forms"),
        href: Routes.doc_path(@conn, :forms),
        has_child: false,
        icon_class: "fe fe-home",
        childs: []
      }, %{
        name: gettext("Page"),
        href: Routes.doc_path(@conn, :forms),
        has_child: true,
        icon_class: "fe fe-file",
        childs: [%{
          name: gettext("Listing with paging"),
          href: Routes.doc_path(@conn, :listing_with_paging),
          has_child: false,
          icon_class: "fe fe-home",
          childs: []
        }, %{
          name: gettext("Detail"),
          href: Routes.doc_path(@conn, :detail),
          has_child: false,
          icon_class: "fe fe-page",
          childs: []
        }]
      }]
%>

<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Language" content="en" />
  <meta name="msapplication-TileColor" content="#2d89ef">
  <meta name="theme-color" content="#4188c9">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="csrf" content="<%= Plug.CSRFProtection.get_csrf_token() %>">
  <link rel="icon" href="<%= Routes.static_path(@conn, "/images/favicon.ico") %>" type="image/x-icon" />
  <link rel="shortcut icon" type="image/x-icon" href="<%= Routes.static_path(@conn, "/images/favicon.ico") %>" />
  <!-- Generated: 2019-02-13 14:57:09 +0700 -->
  <title>Homepage - tabler.github.io - a responsive, flat and full featured admin template</title>
  <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">
  <!-- Dashboard Core -->
  <link href="<%= Routes.static_path(@conn, "/css/app.css") %>" rel="stylesheet" />
  <%= raw(render_existing(view_module(@conn), "styles." <> view_template(@conn), assigns)) %>
</head>

<body class="">
  <div class="page">
    <div class="page-main">
      <%=  render "_header.html", assigns %>
      <%= render "_navigation.html", conn: @conn, menus: menus %>
      <div class="my-3 my-md-5">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
    <%= render "_footer.html", assigns %>
  </div>
  <script src="<%= Routes.static_path(@conn, "/js/commons.js") %>"></script>
  <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  <%= raw(render_existing(view_module(@conn), "scripts." <> view_template(@conn), assigns)) %>
</body>

</html>
