<!doctype html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en" />
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#4188c9">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <link rel="icon" href="./favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" type="image/x-icon" href="./favicon.ico" />
    <!-- Generated: 2019-04-04 16:55:45 +0200 -->
    <title>Login - tabler.github.io - a responsive, flat and full featured admin template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=latin-ext">

    <link href="<%= Routes.static_path(@conn, "/css/commons.css") %>" rel="stylesheet" />
    <link href="<%= Routes.static_path(@conn, "/css/app.css") %>" rel="stylesheet" />

    <%= raw(render_existing(view_module(@conn), "styles." <> view_template(@conn), assigns)) %>
  </head>
  <body class="">
    <div class="page">
      <div class="page-single">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </div>
  </body>
  <script src="<%= Routes.static_path(@conn, "/js/commons.js") %>"></script>
  <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  <%= raw(render_existing(view_module(@conn), "scripts." <> view_template(@conn), assigns)) %>
</html>
