<% conn = assigns[:conn] %>
<% path = assigns[:path] || fn (a,b,c) -> "#" end %>
<% changeset = assigns[:changeset] %>
<% item = assigns[:item] || %{id: 0} %>
<% model = assigns[:model] || %{fields: []} %>
<% fields = assigns[:fields] || model.fields() %>
<% page_title = assigns[:page_title] || "Page title" %>
<% form_title = assigns[:form_title] || "" %>

<div class="container">
  <div class="page-header">
    <h1 class="page-title">
      <%= page_title %>
    </h1>
  </div>
  <%= render MokaWeb.ShareView, "_form.html",
        conn: conn,
        action: path.(conn, :update, item),
        changeset: changeset,
        fields: fields,
        title: form_title
  %>

  <span><%= link "Back", to: path.(conn, :index, %{}) %></span>
</div>
