<%
  conn = assigns[:conn]

  entries = assigns[:entries] || Enum.map(1..10, fn i ->
        %{
          id: i,
          name: "Name #{i}",
          address: %{
            street: "3C Ton Duc Thang",
            district: %{
              name: "q3"
            }
          },
          age: 10,
          url: "http://google.com"
        }
      end)
%>

<%= render MokaWeb.PageView, "listing.html",
              conn: conn,
              fields: [
                {:url, render_function: fn url -> raw ~s(<a href="#{url}">#{url}</a>) end, label: "Avatar"},
                {:age, label: "Age"},
                {[:address, :district, :name], render_function_full: fn {i, name} ->
                  String.upcase(name)
                 end,
                # render_function: fn x -> String.upcase(x || "") end
                label: "Address"}
              ],
              entries: entries,
              path: fn (a,b,c) -> "#" end,
              extra_actions: [
                [label: "Hi", action: fn i -> "#{i.id}" end]
              ],
              page_extra_actions: [
                [label: "Hi again", action: "#"]
              ],
              checkbox_table: [
                label: "Update table",
                path: "", 
                checkbox_name: "ids", 
                columns: [
                status: [label: "Update selected row to status confirmed", action: "http://localhost:4000"],
                delivery_method: [label: "Update delivery method to status delivery", action: "http://localhost:4000", name: :abc]
                ]
              ]
        %>


<div class="container">
  <%= render MokaWeb.ShareView, "_breadcrumb.html", conn: conn %>
  <div class="page-header">
    <h1 class="page-title">
      Dashboard
    </h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="fw-bold">
            <%= gettext "Today check in" %>
          </h4>
          <div class="row ">
            <div class="col">
              <h3 class="m-0 fw-bold text-blue">19</h3>
              <div class="text-muted">
                <%= gettext "Work" %>
              </div>
            </div>
            <div class="col">
              <h3 class="m-0 fw-bold text-orange">3</h3>
              <div class="text-muted">
                <%= gettext "Work remote" %>
              </div>
            </div>
            <div class="col">
              <h3 class="m-0 fw-bold text-red">1</h3>
              <div class="text-muted">
                <%= gettext "Off" %>
              </div>
            </div>
            <div class="col">
              <h3 class="m-0 fw-bold text-dark">0</h3>
              <div class="text-muted">
                <%= gettext "Absent" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            Working remote staffs(5)
          </div>
        </div>
        <%= render MokaWeb.ShareView, "_table.html",
              conn: conn,
              fields: [:name, :age],
              entries: entries,
              pagination: %{
                size: 1,
                page: 10,
                total: 10,
                entries: []
              },
              path: fn (a, b, c) -> "#" end
        %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title fw-bold">
            <%= gettext "This month statistics" %>
          </h4>
        </div>
        <div class="card-body">
          <div class="d-flex">
            <div>
              <button type="button" class="btn btn-icon btn-secondary js-prevMonth"><i class="fe fe-chevron-left"></i></button>
            </div>
            <h4 class="m-auto"><span class="js-cal-month">January</span> <span class="js-cal-year">2019</span></h4>
            <div>
              <button type="button" class="btn btn-icon btn-secondary js-nextMonth"><i class="fe fe-chevron-right"></i></button>
            </div>
          </div>
          <div id="calendar" class="fc-calendar-container mt-4" style="height: 700px;"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <%= render MokaWeb.ShareView, "_carousel.html",
                id: "js-product-photos-carousel",
                items: [
                  %{url: "/photos/christian-joudrey-96208-1500.jpg"},
                  %{url: "/photos/christoph-bengtsson-lissalde-80291-1500.jpg"},
                ],
                field: {:url, render_function: fn x -> "http://preview.tabler.io/demo#{x}" end}
          %>
      </div>
    </div>
  </div>
</div>
