<%
  conn = assigns[:conn]
  entries = assigns[:entries] || []
  pagination = assigns[:pagination] || nil
  loadmore = assigns[:loadmore] || nil
  path = assigns[:path] || fn (a,b,c) -> "#" end
  fields = assigns[:fields] || []
  title = assigns[:title] || ""
  filter_by = assigns[:filter_by] || []
  extra_actions = assigns[:extra_actions] || []
  page_extra_actions = assigns[:page_extra_actions] || []
  checkbox_table = assigns[:checkbox_table]
%>

<div class="container">
  <div style="text-align: right;">
    <%= for i <- page_extra_actions do %>
    <%
      label_text = i[:label] || ""
      action = i[:action] || ""
    %>
    <%= link label_text, to: action, class: "btn btn-primary" %>
    <% end %>
    <a class="btn btn-primary" href="<%= path.(conn, :new, []) %>">Create</a>
  </div>
  <h1 class="page-title">
    <%= title %>
  </h1>
  <%= if length(filter_by) > 0 do %>
  <form class="filter-toolbar" action="<%= Phoenix.Controller.current_path(conn) %>">
    <div class="form-group">
      <label for=""><%= gettext "Keyword" %></label>
      <input class="form-control" name="keyword" type="text" value="<%= conn.params["keyword"] %>"/>
    </div>
    <%= for i <- filter_by do %>
    <%= render MokaWeb.ShareView, "_select_input.html",
            conn: conn,
            name: to_string(i.name),
            default_value: Map.get(conn.params, i.name),
            options: i.options %>
    <% end %>
    <div class="form-group button-group">
      <button type="submit" class="btn btn-primary"><i class="fe fe-search mr-2"></i>
        <%= gettext "Search" %></button>
    </div>
  </form>
  <% end %>
  <div class="row row-cards row-deck mt-md-5">
    <div class="col-md-12">
      <div class="card mb-3" style="flex-grow: 0;">
        <%= render MokaWeb.ShareView, "_table.html",
              conn: conn,
              fields: fields,
              path: path,
              entries: entries,
              extra_actions: extra_actions,
              checkbox_table: checkbox_table %>
      </div>
      <%= if pagination do %>
      <%= render MokaWeb.ShareView, "_pagination.html",
            conn: conn,
            pagination: pagination %>
      <% end %>
      <%= if loadmore do %>
      <a href="#">Loadmore</a>
      <% end %>
    </div>
  </div>
</div>
