<% conn = assigns[:conn] %>
<% path = assigns[:path] || fn (a,b,c) -> "#" end %>
<% item = assigns[:item] || %{id: 0} %>
<% model = assigns[:model] || %{fields: []} %>
<% fields = assigns[:fields] || model.fields() %>
<% page_title = assigns[:page_title] || "Detail" %>

<div class="container">
  <div class="page-header">
    <h1 class="page-title">
      <%= page_title %>
    </h1>
  </div>
  <div class="card">
    <table class="table table-hover table-outline table-vcenter text-nowrap card-table">
      <thead>
        <tr>
          <th>Column</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <%= for field <- fields do %>
        <tr>
          <td><%= MokaWeb.ViewHelper.render_title(field) %></td>
          <td><%= MokaWeb.ViewHelper.render_value(item, field) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <span><%= link "Back", to: path.(conn, :index, %{}) %></span>
</div>
