
@import "../_variables.scss";

.fc-calendar-container {
	position: relative;
	height: 500px;
	width: 100%;

  background-color: $white;
}

.fc-calendar {
	width: 100%;
	height: 100%;
}

.fc-calendar .fc-head {
	height: 30px;
	line-height: 30px;
	background: $border-color;
}

.fc-calendar .fc-body {
	position: relative;
	width: 100%;
	height: 100%;
	height: -moz-calc(100% - 30px);
	height: -webkit-calc(100% - 30px);
	height: calc(100% - 30px);
	border: 1px solid $border-color;
}

.fc-calendar .fc-row {
	width: 100%;
	border-bottom: 1px solid $border-color;
}

.fc-four-rows .fc-row  {
	height: 25%;
}

.fc-five-rows .fc-row  {
	height: 20%;
}

.fc-six-rows .fc-row {
	height: 16.66%;
	height: calc(100%/6);
}

.fc-calendar .fc-row > div,
.fc-calendar .fc-head > div {
	float: left;
	height: 100%;
	width:  14.28%; /* 100% / 7 */
	position: relative;
}


.fc-calendar .fc-row > div {
	border-right: 1px solid $border-color;
	padding: 4px;
	overflow: hidden;
	position: relative;
}

.fc-calendar .fc-head > div {
	text-align: center;
}

.fc-calendar .fc-row > div:last-child,
.fc-calendar .fc-head > div:last-child {
	border-right: none;
}

.fc-calendar .fc-row {
  .fc-date {
	  position: absolute;
	  width: 30px;
	  height: 20px;
	  text-shadow: 0 -1px 0 rgba(255,255,255,0.8);
	  top: 5px;
	  right: 5px;
	  text-align: right;

    font-size: 1.2rem;
    color: $text-muted-dark;

    &.fc-emptydate{
      color: #ccc;
    }
  }

  time {
	  display: none;
  }

  .fc-weekday {
	  padding-left: 5px;
	  display: none;
  }

  .fc-today{
    background: #fff4c3;
    .fc-date {
    font-weight: bold;
    color: $blue;
    }
  }

  .fc-out {
	  opacity: 0.6;
  }

  &:last-child {
	  border-bottom: none;
  }

  .fc-calendar-events{
    height: calc(100% - 30px);
    margin-top: 30px;
    overflow: hidden;
    padding: 0 10px;

    .event-item{
      display: flex;
      line-height: 1.2;

      .event-badge{
        flex-basis: 40px;
        width: 40px;
        font-weight: bold;
      }

      .event-title{
        flex-grow: 1;
      }
    }
  }
}

